.hidden {
  display: none;
}

.progress {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url("img/progress-indicator-small.gif");
}

.progress.big {
  background: url("img/progress-indicator-big.gif");
  width: 32px;
  height: 32px;
}

.progress.big.bottom {
  margin-bottom: 20px;
}

.progress.big.top {
  margin-top: 21px;
}

.button, .toggle {
  text-decoration: none;
  padding: 6px 12px;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border-radius: 4px;
  font-size: 0.85em;
  font-family: sans-serif;
}

.button {
  background: #668dd4;
  color: #ffffff;
  border: 0;
}

.toggle {
  background: transparent;
  border: 1px solid #c8c8c8;
}

a.toggle {
  color: inherit;
}

.toggle:hover {
  background: #ebebeb;
}

.button:active {
  background: #719ff0;
}

input[type=radio] {
  display: none;
}

.toggle.checked, input[type=radio]:checked + .toggle {
  background: #668dd4;
  border-color: #668dd4;
  color: #ffffff;
}

.inline-button {
  border-left: 1px solid #c8c8c8;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9em;
  font-family: sans-serif;
  margin-left: 10px;
  padding: 3px 0 3px 10px;
  cursor: pointer;
}

.inline-button.last {
  border-right: 1px solid #c8c8c8;
  padding-right: 10px;
}

.button:hover, .inline-button:hover {
  color: #e0e0fa;
}

.button:focus, .toggle:focus {
  outline: 2px solid #bdd4f9;
}

.in-feed-link {
  color: #376fe9;
  cursor: pointer;
}

.in-feed-link:hover {
  color: #937ce9;
}

.error-placeholder {
  padding-top: 10px;
  font-size: 0.9em;
  color: #e24451;
  display: none;
}

.field {
  margin-bottom: 10px;
  text-align: right;
  line-height: 1.2em;
}

.field.last {
  margin-bottom: 0;
}

.field .fill {
  padding: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type=text], input[type=password], textarea {
  border: 1px solid #c8c8c8;
}

textarea {
  overflow: auto;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

header {
  margin-bottom: 10px;
  overflow: hidden;
  background: #668dd4;
  color: #ffffff;
  line-height: 60px;
}

header .left-panel {
  display: inline-block;
  float: left;
  padding-left: 20px;
}

header .left-panel .title {
  font-size: 2em;
  font-weight: bold;
  vertical-align: middle;
}

header .current-user-info {
  display: inline-block;
  text-align: right;
  float: right;
  padding-right: 20px;
}

header .current-user-info > div {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.content {
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
}

.login-content .title {
  font-size: 2em;
  font-weight: bold;
  vertical-align: middle;
  margin-bottom: 20px;
  color: #5f79b4;
}

.login-content, .home-content {
  display: inline-block;
  background: #f6f6f6;
  border: 1px solid #c8c8c8;
}

.login-content {
  overflow: hidden;
  margin-top: 10px;
  padding: 20px 20px 20px;
}

.login-content .toggle-panel {
  margin-bottom: 20px;
  text-align: center;
}

.login-register-form .field label {
  padding-right: 10px;
  float: left;
}

.login-register-form .field .fill {
  width: 240px;
}

.login-register-form .field .error-placeholder {
  padding-top: 3px;
  width: 240px;
  white-space: pre-wrap;
}

.login-register-form .progress {
  vertical-align: middle;
  margin-right: 10px;
}

.login-register-form .field > div {
  display: inline-block;
}

.login-register-form .field div.fill {
  display: inline-block;
}

.new-order-form textarea {
  resize: none;
}

.new-order-form label {
  display: block;
  margin-bottom: 4px;
}

.new-order-form {
  display: inline-block;
  margin-bottom: 20px;
  width: 400px;
}

.new-order-form .field {
  width: inherit;
  text-align: left;
}

.new-order-form .field.last {
  text-align: right;
}

.new-order-form .field .fill {
  width: inherit;
}

.new-order-form .field .error-placeholder {
  padding-top: 3px;
  padding-right: 3px;
  white-space: pre-wrap;
}

.new-order-form .field .progress {
  vertical-align: middle;
  margin-right: 10px;
}

.home-content {
  border-top-width: 0;
  width: 700px;
}

.home-content .orders-panel {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-content .orders-panel .show-new-panel {
  margin-left: 15px;
  margin-bottom: 15px;
}

.home-content .orders-panel .orders {
  border-top: 1px solid #e1e1e1;
}

.home-content .orders-panel .show-more-panel {
  margin-top: 15px;
  margin-left: 15px;
}

.home-content .orders-panel > .error-placeholder {
  margin-left: 15px;
  margin-bottom: 10px;
}

.home-content .orders-panel .progress {
  vertical-align: middle;
}

.home-content .orders-panel .in-feed-link {
  margin-right: 10px;
}

.order {
  border-bottom: 1px solid #e1e1e1;
  padding: 15px;
  word-wrap: break-word;
}

.order .bottom-panel {
  margin-top: 10px;
}

.order .bottom-panel .action-panel {
  display: inline-block;
  width: 50%;
  text-align: right;
  vertical-align: bottom;
}

.order .bottom-panel .action-panel .progress {
  vertical-align: middle;
}

.order .bottom-panel .action-panel .error-placeholder {
  vertical-align: middle;
}

.order .bottom-panel .action-panel .button {
  margin-left: 10px;
}

.order .bottom-panel .params {
  display: inline-block;
  width: 50%;
  font-size: 0.93em;
  vertical-align: bottom;
}

.price {
}

footer {
  padding-bottom: 15px;
}